.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.wrapper span {
    width: 100%;
    font-size: 1.3rem;
    /* height: 2.5rem; */
    display: flex;
    /* background-color: rgb(121, 121, 219); */
}
.wrapper span span {
    box-sizing: border-box;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    width: 50%;
    background-color: gray;
    border-radius: 1rem;
}
.rightMessage {
    justify-content: flex-end;
}
.leftMessage {
    justify-content: flex-start;
}