.loginWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    width: 5rem;
}
.button {
    height: 2rem;
    width: 4rem;
    background-color:rgb(1, 148, 1);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}
.button:hover {
    color: rgb(1, 148, 1);
    background-color:white;
    transition: 300ms;
}